<h2>Users registered on Picus</h2>
  <table class="list-projects">
    <tr>
      <td>Name</td>
      <td>Position</td>
      <td>Registered on</td>
      <td>View History</td>
      <% if session[:admin] %>
        <td>Edit</td>
        <td>Delete</td>
      <% end %>
    </tr>
    <% for user in @users -%>
      <tr>
        <td><%=h user.name %></td>
        <td><%=h user.admin? ? 'Administrator' : 'Normal User'%></td>
        <td><%=h user.created_at %></td>
        <td><%= link_to 'HIStory', :controller => 'records', :action => 'show' %></td> <!-- Send user id -->
        <% if session[:admin] %>
          <td><%= link_to 'Edit', :controller => 'users', :action => 'edit' %></td>
          <td><%= link_to 'Delete', { :controller => 'users', :action => 'destroy', :id => user.id },
                                    :confirm => "You are going to delete the user #{user.name} forever. Please confirm.",
                                    :method => :delete %></td> 
        <% end %>
      </tr>
      <% end %>
  </table>
