<h1>Projects held on Picus</h1>
<% if @projects %>
  <table class="list-projects">
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Created by</td>
      <td>Created on</td>
      <td>Last Updated on</td>
      <!-- CHECK IF ADMIN -->
      <td>Edit</td>
      <td>View Bugs</td>
    </tr>
    <% for project in @projects -%>
      <tr>
        <td><%=h project.name %></td>
        <td><%=h project.description %></td>
        <td><%=h User.find_by_id(project.user_id).name %></td>
        <td><%=h project.created_at %></td>
        <td><%=h project.updated_at %></td>
        <!--CHECK IF ADMIN-->
        <td><%= link_to 'Edit', :controller => 'projects', :action => 'edit' %></td>
        <td><%= link_to 'View Bugs', :controller => 'bugs' %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  This instance of Picus has no registered projects.
<% end %>

<!--CHECK IF ADMIN-->
<p>
Create <%= link_to 'New Project', :controller => "projects", :action => "new"  %>
</p>
