<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
  <head>
    <title>Picus - helps You cope with all the bugs</title>
    <%= stylesheet_link_tag "general" , :media => "all" %>
  </head>
  <body>
    <div id="banner">
      <%= image_tag("picus2.png" ) %>
    </div>
    <div class="page">
      <%= link_to 'Projects', :controller => 'projects' %>&nbsp;
      <% if session[:user] %>&nbsp;
        <% if session[:admin] %>
          <%= link_to 'Users', :controller => 'administration', :action => 'users' %>&nbsp;
        <% end %> 
        <%= link_to 'Logout', :controller => 'administration', :action => 'logout' %>&nbsp;
      <% else %>
        <%= link_to 'Login', :controller => 'administration', :action => 'login' %>&nbsp;
        <%= link_to 'Register', :controller => '', :action => 'login' %>&nbsp;
      <% end %>

      <a href="http://www.birdsinbulgaria.org/birds.php?l=en&semeystvo=39&vid=240&type=bird" class="info">
        About Picus
      </a>

      <span class = "info" id="hi"> 
         Picus is happy to have You around, <%= session[:user] ? session[:user_name] : "Guest" %>!
      </span>
    
      <div id="main">
        <% if flash[:notice] -%>
          <div id="notice">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <div class="inside">
          <%= yield :layout %>
        </div>
      </div>
    </div>
  </body>
</html>


          
